/*https://www.material.io */
/*https://fonts.google.com */

header{
  width: 85%:auto;
  height: 200px;
  border: 5px double #69076b;
  border-radius: 5px;
  background: #0ed5e6;
  margin: 10px auto 0px;
}

header img{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 50px;
  position: absolute;
}

header h1{
  display: inline-block;
  margin-left: 350px
  margin-top: 70px;
  position: absolute;
  color: #0b0b0b;
  font-size: 4em;
  font-family: 'Covered By Your Grace', text-shadow:2px 4px #5eaf70;
  transition-property: color, text-shadow;
  transition-duration: 1s, 1.5s;
  -webkit-transition:color 1s;
  -moz-transition:color 1s;
}
