/*https://www.material.io */
/*https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Lobster');

header{
  width: 85%:auto;
  height: 200px;
  border: 5px double #69076b;
  border-radius: 5px;
  background: #0ed5e6;
  margin: 10px auto 0px;
}

header img{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-left: 50px;
  position: absolute;
}

header h1{
  display: inline-block;
  margin-left: 350px;
  margin-top: 70px;
  position: absolute;
  color: #0b0b0b;
  font-size: 4em;
  /*font-family: 'Covered By Your Grace', text-shadow:2px 4px #5eaf70;*/
  font-family: 'Lobster', cursive;
  transition-property: color, text-shadow;
  transition-duration: 1s, 1.5s;
  -webkit-transition:color 1s;
  -moz-transition:color 1s;
}

nav{
  width: 100%;
  height: 30px;
  margin: 10px auto 0px;
  padding: 0px;
  text-align: center;
}

nav ul{
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

nav ul> li{
  display: inline-block;
  width: 160px;
  height: 25px;
  border: 1px solid #3F51B5;
  text-align: center;
  padding-top: 5px;
  background: #E8EAF6;
  font-size: 1em;
  font-family: 'Chewy', cursive;
  color: #303F9F;
  text-shadow: 2px 4px 4px #E8EAF6;
  transition-property: background, color;
  transition-duration: 2s,2s;
}

nav ul>li:hover{
  background: #303F9F;
  letter-spacing: 2px;
}

nav > ul >li a{
  text-decoration: none;
  color: #1A237E;
}

nav ul li ul{
  position: absolute;
  display: none;
}

nav ul li ul li{
  display: block;
}

nav ul li:hover ul{
  display: block;
  margin-top: 4px;
  background: #E8EaE6;
}

#contenido{
  width: 85%;
  height: auto;
  margin: 0px auto 0px;
}

#contenido h2{
  color: #303F9F;
  font-size: 2em;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: 2px 4px 4px #74de4f;
}

#contenido p{
  font-size: 1em;
  font-family: 'Abel',sans-serif;
  text-align: justify;
  font-weight: bold;
}

hr{
  width: 900px;
  height: 10px;
  background: #b71c1c;
  border-radius: 5px;
}

section{
  width: 960px;
  height: auto;
  background: #E0E0E0;
  margin-top: 5px;
}

fieldset{
  margin: 10px auto 10px;
  height: auto;
  width: 400;
  border: 4px double #303F9F;
  border-radius: 5px;
}

legend{
  font-size: 1.5em;
  color: #303F9F;
  font-family: 'Abel', sans-serif;
  margin-left: 100px;
}

form label{
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
  color: #303F9F;
  padding-right: 2px;
}

form input{
  width: 200px;
  height: 30px;
  padding-left: 10px;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #303F9F;
  border-radius: 4px;
  border: 2px solid #303F9F;
}

form textarea{
  width: 370px;
  height: 150px;
  margin-left: 20px;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  font-weight: bold;
  color: #303F9F;
  border-radius: 4px;
  border: 2px solid #303F9F;
}

#enviar{
  height: 25px;
  width: 100px;
  background: #00f000;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: -1px 5px 3px 0px #004d40;
}

#calcelar{
  height: 25px;
  width: 100px;
  background: #f00000;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 5px 3px 0px #0d4d40;
}

#sitio{
  background: #fefb0b;
}

.sitios{
  display: inline-block;
  width: 250px;
  height: 500px;
  margin-left: 20px;
  margin-right: 10px;
}

.sitios img{
  width: 140px;
  height: 140px;
  position: absolute;
  margin-left: 90px:
}

.sitios img:hover{
  width: 170px;
  height: 170px;
  margin-left: 70px;
}
.sitios p{
  font-family: arial;
  font-size: 13px;
  font-weight: none;
  width: 230px;
  height: 350px;
  margin-left: 10px;
  position: absolute;
}

.sitios fieldset{
  margin: 10px auto 10px;
  height: auto;
  width: 240px;
  border: 4px double #303F9F;
  border-radius: 5px;
  position: absolute;
}

#entradas{
  background: #fff;
}

article{
  margin: 10px auto 10px;
  height: auto;
  width: 95%;
  border: 4px double #303F9F;
  border-radius: 5px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 5px;
}

#redes{
  margin: 10px auto 10px;
  height: auto;
  width: 95%;
  border-radius: 4px;
}

#redes ul li{
  display: inline-block;
  width: 40%;
  height: auto;
  padding-top: 5px;
  padding-left: 20px;
  background: #E8EAF6;
  text-shadow: 2px 4px 4px #E8EAF6;
}

#biografia{
  margin: 10px auto 10px;
  height: auto;
  width: 800px;
  border: 4px double #303F9F;
  box-shadow: 2px 5px 3px #000;
  padding-left: 10px;
}

#twitter{
  margin: 10px auto 10px;
  height: auto;
  width: 600px;
}

#mult{
  margin: 10px auto 10px;
  width: 850px;
  height: auto;
  display: block;
}

footer{
  width: 85%;
  height: 50px;
  color: #fff;
  padding-top: 5px;
  background: #000;
  margin: 0px auto 5px;
  text-align: center;
  font-size: 1em;
}

@media screen and (max-width: 980px){
  {
    margin: 0px;
  }
  header, nav, #contenido, footer, hr{
    width: 100px;
  }
}

@@media screen and (max-width: 630px) {
  nav{
    height: auto;
  }
  nav ul li{
    width: 100%;
    display: block;
    border-bottom: 1.5px solid #000;
  }
}

@@media screen and (max-width: 860px) {
  header h1{
    font-size: 3em;
    margin-left: 200px;
  }
}
